//$colors: #dc2671, #2bb8f0;
$colors: #2bb8f0;
$max: length($colors);
$dash: 100;
$dash-gap: 50;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 20s;
$time-step: $time/$max;

/* Main styles */
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Monoton&display=swap");

.text {
  fill: none;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time 10 linear;
  animation: stroke $time 10 linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }

}


@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

#s-text, #s-text2 {
  font-size: 5em;
  font-family: 'Monoton', Impact, sans-serif;
  text-transform: uppercase;
}

#s-text {
  polygon {stroke-width: 0.75;
  stroke-dasharray: 200 ($dash-space*3);
  }
}



svg {
  width: 96%;
  height: 100%;
  z-index: 9;
  max-width: 600px;
  margin: auto;
  display: block;
}

#header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 9;
  background-color: transparent;
  transition: background-color 2s;
  left:0;
  top:0;
    

  & #logo {
    margin-top: 45px;
    padding-top: 10px;
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 255, 1));
      -webkit-filter: drop-shadow( 0px 0px 3px rgba(0, 0, 255, 1));
    transition: all 1s ease-in-out;
  
    & .surname {
      transition: opacity 0.4s;
    }

    
  }

  & .intro {
    font-size: 2em;
    text-transform: uppercase;
    color: #fffce4;
    text-align: center;
    margin: 20px 0;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 2.2em;
    }
  }

  &.small {

    top:0;
    background-color: #000024;
    width: 100%;
    left: 0;
    filter: none;
    -webkit-filter: none;

    & polygon {
      filter:none;
    }

    g {
      opacity: 0;
    }

    & .intro {
      display: none;
    }

    & #logo {
      max-width: 74px;
      margin-top: 0px;
      background: #000024;
      filter: drop-shadow( 0px 0px 0px rgba(0, 0, 255, 0));
      -webkit-filter: drop-shadow( 0px 0px 0px rgba(0, 0, 255, 0));
      cursor: pointer;

      @media (min-width: 768px) {
        max-width:90px;
      }

      & .surname {
        opacity:0;
      }

      & #s-text2 > svg, 
      & #s-text > svg {
          stroke-width:5;
      }

      .text {
        text-shadow:none;
      }

    }
  }
  
}




